
.icon-github:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-thumbs-up:before { content: '\e802'; } /* '' */
.icon-play-circled2:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */