<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Kamil Ambroziak - Strony www</title>

    <meta name="description" content="Zajmuję się tworzeniem stron www. Wysoka jakość"/>
    <meta name="keywords" content="zbuduję, budowa, stron, strony, www"/>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/css/fontello-3c951a9f/css/fontello.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


    <script src="js/licznikczasu.js"></script>

</head>

<body onload="odliczanie();">

<div id="container">

    <a th:href="@{/}" class="tilelink">
    <div class="rectangle">
        <div id="logo">
            Kamil Ambroziak
        </div>
        <div id="watch">
        </div>
        <div style="clear:both;"></div>
    </div>
    </a>

    <div class="square">

        <div class="tile1">
            <a th:href="@{/technologies}" class="tilelink">
                <i class="icon-emo-thumbsup"></i>
                <br></br>
                Technologies </a>

        </div>

        <div class="tile1">
            <a th:href="@{/education}" class="tilelink">

                <i class="icon-emo-shoot"></i>
                <br></br>
                Education

        </a>
        </div>

        <div style="clear:both;"></div>

        <div class="tile1">
            <a th:href="@{/experiance}" class="tilelink">

                <i class="icon-emo-coffee"></i>
                <br></br>
                Experiance


        </a>
        </div>

        <div class="tile1">
            <a th:href="@{/hobbys}" class="tilelink">

                <i class="icon-emo-beer"></i>
                <br></br>
                Hobbys

        </a>
        </div>

        <div style="clear:both;"></div>


    </div>

    <div class="square">

        <div class="tile2">

            <h2> Experiance <br></h2> </br>
            Deloitte - Transfer Pricing Senior Consultant / April 2018 – present<br></br>
            Benchmarking analyses / tools development (financial transactions, material goods, IP) / Supervision
            <br></br>

            Deloitte - Transfer Pricing Consultant / September 2016 – April 2018<br></br>
            Benchmarking analyses performance and supervision<br></br>

            Deloitte - Transfer Pricing Intern / October 2015 – September 2016<br></br>
            Benchmarking analyses performance <br></br>

        </div>

        <div style="clear:both;"></div>

    </div>

        <a href="https://www.linkedin.com/in/kamil-ambroziak-95baa5104/" target="_blank" class="html5standard">
            <div class="linkedin">
                <i class="icon-linkedin"></i>
            </div>
        </a>


        <a href="https://www.facebook.com/kamil.ambroziak.7" target="_blank" class="html5standard">
            <div class="fb">
                <i class="icon-facebook-squared"></i>
            </div>
        </a>



        <a href="https://www.youtube.com/user/Gubek01" target="_blank" class="html5standard">
            <div class="yt">
                <i class="icon-youtube"></i>
            </div>
        </a>

        <a href="https://github.com/Kamzs" target="_blank" class="html5standard">
            <div class="git">
                <i class="icon-github"></i>
            </div>
        </a>

        <div style="clear:both;"></div>



    <div style="clear:both;"></div>

    <div class="rectangle">

        2019 &copy; Kamil Ambroziak. kamil.ambroziak.priv@gmail.com


    </div>


</div>

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
</body>

</html>